# Theory Questions

1. What are data structures, and why are they important?
- A Data Structure is a way of organizing, storing, and managing data so that it can be used efficiently.
Think of it as a container that holds data in a specific layout, which decides how operations like searching, inserting, deleting, and updating can be performed. They are important because:-
    - Efficiency in Problem Solving
    - Organized Data Management
    - Scalability
    - Foundation for Algorithms
    - Real-World Applications

2. Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types - Objects whose content can be changed after creation.You can add, remove, or modify elements without creating a new object. Stored in memory as the same object even after modification. Examples in Python:
    - List, dict, set, bytearray.
- Immutable Data Types - Objects whose content cannot be changed after creation. Any modification creates a new object in memory. You cannot change elements, but you can reassign a new value. Examples in Python:
    - String, int, float, tuple, frozenset, bool.

3. What are the main differences between lists and tuples in Python?
- Mutability
    - List: Mutable → elements can be changed, added, or removed.
    - Tuple: Immutable → once created, elements cannot be changed.
- Syntax
    - List: Created with square brackets [] → my_list = [1, 2, 3]
    - Tuple: Created with parentheses () → my_tuple = (1, 2, 3)
- Performance
    - List: Slower (extra overhead due to mutability).
    - Tuple: Faster (less memory and processing overhead).
- Functions/Methods
    - List: Has many built-in methods (append, extend, remove, pop, etc.).
    - Tuple: Very few methods (count, index).
- Use Case
    - List: When data needs to be modified frequently.
    - Tuple: When data should be constant and protected (e.g., fixed configurations).

4.  Describe how dictionaries store data?
- Hash Table Mechanism
  - Python dictionaries use a hash table under the hood.
  - When you create a key (e.g., "name"), Python computes a hash value (a unique integer) for that key using the built-in hash() function.
  - This hash value decides where in memory the corresponding value is stored.
- Key–Value Mapping
  - Each entry has two parts:
    - Key → must be immutable (str, int, tuple, etc.).
    - Value → can be any data type (mutable or immutable).
  - Example:
    - Hash("name")  ->  "Aditi"
      Hash("age")   ->  20
      Hash("college")-> "NIT"
- Fast Lookup (O(1) average case)
  - When you access student["age"], Python:
    - Hashes the key "age".
    - Finds the corresponding slot in the hash table.
    - Retrieves the value 21.
  - This makes dictionaries very fast for lookups, insertions, and deletions

5. Why might you use a set instead of a list in Python?
- Uniqueness of Elements
  - Set: Automatically removes duplicates.
  - List: Can contain duplicates, and you’d have to manually check for uniqueness.
- Faster Membership Testing (in operator)
  - Set: Very fast (O(1) on average, due to hash table).
  - List: Slower (O(n), checks each element one by one).
- Useful for Set Operations
  - Sets provide mathematical set operations (union, intersection, difference) directly.
  - Lists don’t have these built-in.
- Cleaner Code When Duplicates Don’t Matter
  - If you only care about unique items, sets are much simpler than writing extra logic to filter a list.

6. What is a string in Python, and how is it different from a list?
- String
  - A string is a sequence of characters enclosed in single quotes ('), double quotes ("), or triple quotes (''' / """).
  - Strings are immutable → once created, they cannot be changed in place.
  - Example:
    - s1 = "Hello"
    - s2 = 'Python'
    - s3 = """This is a multiline string"""
- A string is different from a List in the following ways:-
  - Data Type of Elements
    - String → stores only characters (letters, numbers, symbols).
    - List → can store any data type (integers, floats, strings, even other lists).
  - Mutability
    - String → ❌ Immutable (cannot modify characters directly).
    - List → ✅ Mutable (can add, remove, or change elements).
  - Methods Available
    - String → methods for text processing (upper(), lower(), split(), replace(), etc.).
    - List → methods for sequence manipulation (append(), remove(), sort(), extend(), etc.).
  - Use Cases
    - String → best for working with textual data.
    - List → best for working with a collection of items (numbers, objects, or mixed types).

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in python in the following waya:-
  - Tuples are immutable → elements cannot be changed after creation.
  - Prevents accidental modification of data.
  - Suitable for storing fixed values (e.g., coordinates, config data).
  - Can be used as dictionary keys (if all elements are immutable).
  - Ensures reliability and consistency of data in programs.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key–value pairs using a hash function to map keys to memory locations (slots).
- It provides fast lookups, insertions, and deletions (average case O(1)).
- Python dictionaries are implemented internally using hash tables.
- When you access dict[key], Python hashes the key to quickly find its value.
- Keys must be immutable & hashable so that their hash value remains constant.

9. Can lists contain different data types in Python?
- In Python, lists can contain different data types because they are heterogeneous collections.
- A single list can store integers, floats, strings, booleans, even other lists or objects.

10. Explain why strings are immutable in Python?
- Strings cannot be modified after creation → any change creates a new string object.
- This design ensures data integrity and security (especially when used as dictionary keys).
- Immutability makes strings hashable, allowing them to be used in sets and dict keys.
- It improves memory efficiency since many programs reuse the same string objects.
- It also simplifies thread-safety, as strings can’t be altered by different parts of a program simultaneously.

11. What advantages do dictionaries offer over lists for certain tasks?
- Advantages of Dictionaries over Lists
  - Fast lookups → Dictionaries use hash tables (O(1) average), lists are O(n).
  - Key-based access → Values can be retrieved using meaningful keys, not just numeric indexes.
  - Uniqueness → Keys must be unique, preventing duplicate identifiers.
  - Flexible data storage → Can map complex relationships (e.g., student_id → student_info).
  - Clearer code → Improves readability by using descriptive keys instead of index positions.

12. Describe a scenario where using a tuple would be preferable over a list?
- Scenario where Tuple is Preferable over List
  - When storing fixed data that should not change, e.g., geographic coordinates (latitude, longitude).
  - Tuples are immutable, so the data cannot be accidentally modified.
  - Example:
    - location = (28.61, 77.23)  #Delhi coordinates
  - Using a list here would allow unwanted changes, risking data integrity.
  - Tuples also use less memory and can be used as dictionary keys.

13. How do sets handle duplicate values in Python?
- Sets are unordered collections of unique elements.
- If a duplicate is added, Python ignores it (keeps only one copy).
- Example:
    - s = {1, 2, 2, 3, 3, 3}
    - print(s)   # {1, 2, 3}
- This uniqueness is ensured using hashing.
- Hence, sets automatically remove duplicates when storing elements.

14. How does the “in” keyword work differently for lists and dictionaries?
- For Lists
  - Checks if a value exists in the list.
  - Example:
    - nums = [1, 2, 3]
    - print(2 in nums)   # True (checks values)
- For Dictionaries
  - Checks if a key exists in the dictionary (not the value).
  - Example:
    - student = {"name": "Aditi", "age": 21}
    - print("name" in student)   # True (key check)
    - print(21 in student)       # False (does not check values)

15. Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify elements of a tuple after creation.
- Tuples are immutable in Python → their elements cannot be changed, added, or removed.
- Example:
  - t = (1, 2, 3)
  - #t[0] = 10 (Error: 'tuple' object does not support item assignment)
- Immutability ensures data integrity, hashability, and prevents accidental changes.
- If modification is needed, you must create a new tuple.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary.
- It is used to represent hierarchical or structured data.
- Example:
  - students = {
    "A101": {"name": "Aditi", "age": 21, "course": "CS"},
    "A102": {"name": "Mou", "age": 22, "course": "IT"}
      }
  - print(students["A101"]["name"])  # Aditi
- Use Case:
  - Useful for storing complex data, like student records, employee details, or JSON-like structures.

17. Describe the time complexity of accessing elements in a dictionary?
- Dictionaries in Python use a hash table internally.
- Average case: Accessing an element by key is O(1) → very fast (constant time).
- Worst case: Can degrade to O(n) if many keys cause hash collisions (rare in practice).
- Example:
  - d = {"a": 1, "b": 2, "c": 3}
  - print(d["b"])   # O(1) average

18. In what situations are lists preferred over dictionaries?
- When data is ordered and order matters.
- When you need to store duplicate values.
- When data doesn’t need a key-value mapping (just values).
- When you need index-based access (eg., list[0]).
- For smaller datasets where simple sequences are enough.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- A dictionary stores data in a hash table, where key–value pairs are placed based on their hash values, not insertion order.
- Before Python 3.7, dictionaries did not guarantee order; since 3.7+, they preserve insertion order, but they are still conceptually unordered mappings.
- Effect on Retrieval:
  - You can’t rely on the position/index of items.
  - Data is retrieved using keys, not by order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List
  - Data is retrieved using a numeric index (position).
  - Example:
    - fruits = ["apple", "banana", "mango"]
    - print(fruits[1])   # "banana"
- Dictionary
  - Data is retrieved using a key (not position).
  - Example:
    - student = {"name": "Aditi", "age": 21}
    - print(student["age"])   # 21

# Practical Questions

In [1]:
#Write a code to create a string with your name and print it.
name = "Aditi"
print(name)

Aditi

In [2]:
#Write a code to find the length of the string "Hello World"
s = "Hello World"
len(s)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
s[:3]

'Pyt'

In [4]:
#Write a code to convert the string "hello" to uppercase
s = "hello"
s.upper()

'HELLO'

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a', 'b', 'c', 'd']
l[1]

'b'

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

In [11]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [13]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
min(t)

5

In [14]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [15]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ("apple", "banana", "mango")
"kiwi" in t

False

In [16]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [17]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [20]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.intersection(s2)

{2, 3}

In [22]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "Aditi", "age": 21, "city": "Pune"}
print(my_dict)

{'name': 'Aditi', 'age': 21, 'city': 'Pune'}

In [23]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

In [25]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dict

True

In [28]:
#Write a code to create a list, a tuple, and a dictionary, and print them all
l = [1, 2, 3]
t = (4, 5, 6)
my_dict = {"a": 1, "b": 2, "c": 3}
print(l)
print(t)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [29]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[3, 36, 59, 67, 71]

In [30]:
#Write a code to create a list with strings and print the element at the third index.
l = ["apple", "banana", "mango"]
l[2]

'mango'

In [31]:
#Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
#Write a code to convert a list of strings into a set
list_of_strings = ["apple", "banana", "apple", "orange"]
set_of_strings = set(list_of_strings)
print(set_of_strings)

{'banana', 'orange', 'apple'}